.__dashboard_layout {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
}

.__main_dashboard {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.__main_dashboard .__btn_float {
    position: fixed;
    display: grid;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    place-items: center;
    place-items: center;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--color-primary);
}